<!-- PostComponent -->

<!-- stories.component.html -->

<div class="stories">
    <div class="story">
      <img src="https://picsum.photos/400/400" alt="User Avatar">
      <span>user123</span>
    </div>
    <div class="story">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>demo_user</span>
      </div>
      <div class="story">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>test_account</span>
      </div>
      <div class="story">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>sample_user</span>
      </div>
      <div class="story">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>username_1</span>
      </div>
      <div class="story">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>social_tester</span>
      </div>
      <div class="story">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>nombre_usuario_1</span>
      </div>
      <div class="story">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>profile_viewer</span>
      </div>

      <div class="story">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>angular_lover</span>
      </div>
    
  </div>
  

 <!-- SuggestionComponent -->

<div class="suggestions-container">
    <div class="user-info">
      <img src="https://picsum.photos/400/400" alt="User Avatar">
      <span>Jbellof____</span>
    </div>
    <span>Sugerencias para ti</span>
    <!-- Repetir para otras sugerencias -->
    <div class="suggestion">
      <img src="https://picsum.photos/400/400" alt="User Avatar">
      <span>User_Sugerido_0</span>
      <button>Seguir</button>
    </div>
    <div class="suggestion">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>User_Sugerido_1</span>
        <button>Seguir</button>
      </div>
      <div class="suggestion">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>User_Sugerido_2</span>
        <button>Seguir</button>
      </div>
      <div class="suggestion">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>User_Sugerido_3</span>
        <button>Seguir</button>
      </div>
      <div class="suggestion">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>User_Sugerido_4</span>
        <button>Seguir</button>
      </div>
    <!-- Repetir para otras sugerencias -->
  </div>
  
  
  <!-- PostComponent -->

<div class="post-container">
    <div class="user-info">
      <img src="https://picsum.photos/400/400" alt="User Avatar">
      <span>Nombre de Usuario</span>
    </div>
    <img src="https://picsum.photos/400/400" alt="Post Image" class="post-image">
    <div class="post-interactions">
      <div class="icons">
        <!-- Aquí puedes agregar tus iconos de like, comentarios y compartir -->
        <i class="bi bi-balloon-heart"></i><!-- Corazón para el icono de like -->
        <i class="bi bi-chat"></i> <!-- Bocadillo para el icono de comentarios -->
        <i class="bi bi-cursor"></i><!-- Flecha para el icono de compartir -->
      </div>
      <div>
        <div class="likes">120 likes</div>
        <div class="description">Descripción del post...</div>
      </div>
     
    </div>
  </div>


  <div class="post-container">
    <div class="user-info">
      <img src="https://picsum.photos/400/400" alt="User Avatar">
      <span>Nombre de Usuario</span>
    </div>
    <img src="https://picsum.photos/400/400" alt="Post Image" class="post-image">
    <div class="post-interactions">
      <div class="icons">
        <!-- Aquí puedes agregar tus iconos de like, comentarios y compartir -->
        <i class="bi bi-balloon-heart"></i><!-- Corazón para el icono de like -->
        <i class="bi bi-chat"></i> <!-- Bocadillo para el icono de comentarios -->
        <i class="bi bi-cursor"></i><!-- Flecha para el icono de compartir -->
      </div>
      <div>
        <div class="likes">12 likes</div>
        <div class="description">Descripción del post...</div>
      </div>
     
    </div>
  </div>
  
  <div class="post-container">
    <div class="user-info">
      <img src="https://picsum.photos/400/400" alt="User Avatar">
      <span>Nombre de Usuario</span>
    </div>
    <img src="https://picsum.photos/400/400" alt="Post Image" class="post-image">
    <div class="post-interactions">
      <div class="icons">
        <!-- Aquí puedes agregar tus iconos de like, comentarios y compartir -->
        <i class="bi bi-balloon-heart"></i><!-- Corazón para el icono de like -->
        <i class="bi bi-chat"></i> <!-- Bocadillo para el icono de comentarios -->
        <i class="bi bi-cursor"></i><!-- Flecha para el icono de compartir -->
      </div>
      <div>
        <div class="likes">120 likes</div>
        <div class="description">Descripción del post...</div>
      </div>
     
    </div>
  </div>
  

  <div class="post-container">
    <div class="user-info">
      <img src="https://picsum.photos/400/400" alt="User Avatar">
      <span>Nombre de Usuario</span>
    </div>
    <img src="https://picsum.photos/400/400" alt="Post Image" class="post-image">
    <div class="post-interactions">
      <div class="icons">
        <!-- Aquí puedes agregar tus iconos de like, comentarios y compartir -->
        <i class="bi bi-balloon-heart"></i><!-- Corazón para el icono de like -->
        <i class="bi bi-chat"></i> <!-- Bocadillo para el icono de comentarios -->
        <i class="bi bi-cursor"></i><!-- Flecha para el icono de compartir -->
      </div>
      <div>
        <div class="likes">135 likes</div>
        <div class="description">Descripción del post...</div>
      </div>
     
    </div>
  </div>
  
  <div class="post-container">
    <div class="user-info">
      <img src="https://picsum.photos/400/400" alt="User Avatar">
      <span>Nombre de Usuario</span>
    </div>
    <img src="https://picsum.photos/400/400" alt="Post Image" class="post-image">
    <div class="post-interactions">
      <div class="icons">
        <!-- Aquí puedes agregar tus iconos de like, comentarios y compartir -->
        <i class="bi bi-balloon-heart"></i><!-- Corazón para el icono de like -->
        <i class="bi bi-chat"></i> <!-- Bocadillo para el icono de comentarios -->
        <i class="bi bi-cursor"></i><!-- Flecha para el icono de compartir -->
      </div>
      <div>
        <div class="likes">122 likes</div>
        <div class="description">Descripción del post...</div>
      </div>
     
    </div>
  </div>
  