<div class="container">

       
    <div class="hero">
       <form action="" class="form">
<div class="logo">Instagram</div>
        <input type="email" name="email" id="email" required="" class="input" placeholder="Teléfono, dirección de correo electrónico o nombre de usuario">
    <input type="password" name="password" id="password" required="" class="input" placeholder="Contraseña">   
    <input type="submit" value="Acceso" class="input submit" (click)="onLogin()">
    <p class="forgotten">Olvidado sus datos de inicio de sesión ?  <a href="#">Necesita ayuda para entar</a></p>
    <div class="or">o</div>
<div class="input btn">Accede con facebook </div>    
<p class="signup">¿No tienes una cuenta? <a href="#">Inscribirse</a></p>
</form>
    </div>
</div>