<div class="top">
    <div class="top-items">
        <div class="logo-area">
          
        </div>

        <div class="search-box sb">
            <input type="text" class="search" placeholder="search">
            <span class="ic"><img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png" alt="search" height="10px"></span>
        </div>
</div>


<div class="suggestions-container">
   
    <span>Busquedas recientes</span>
    <!-- Repetir para otras sugerencias -->
    <div class="suggestion">
      <img src="https://picsum.photos/400/400" alt="User Avatar">
      <span>User_Sugerido_0</span>
      <button><i class="bi bi-x"></i></button>
    </div>
    <div class="suggestion">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>User_Sugerido_1</span>
        <button><i class="bi bi-x"></i></button>
      </div>
      <div class="suggestion">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>User_Sugerido_2</span>
        <button><i class="bi bi-x"></i></button>
      </div>
      <div class="suggestion">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>User_Sugerido_3</span>
        <button><i class="bi bi-x"></i></button>
      </div>
      <div class="suggestion">
        <img src="https://picsum.photos/400/400" alt="User Avatar">
        <span>User_Sugerido_4</span>
        <button><i class="bi bi-x"></i></button>
      </div>
    <!-- Repetir para otras sugerencias -->
  </div>
  